.separator {
    width: 30px;
    height: 30px;
    position: relative;
    &::before, &::after {
        content: '';
        width: 6rem;
        height: 0.1rem;
        position: absolute;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    &::before {
        top: 50%;
        left: -8.5rem;
    }
    &::after {
        top: 50%;
        right: -8.5rem;
    }
}