.nav-list {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-end;
    gap: 4rem;
    &__link {
        color: #fff;
        font-size: 1.2rem;
        text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        transition: color 0.5s;
        &:hover {
            color: #bda72c;
        }
        span {
            position: relative;
            top: 0;
            left: -0.8rem;
        }
    }
}