.section-2 {
    width: 100%;
    height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__paragraph {
        width: 60rem;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 300;
        line-height: 1.5;
    }
    .separator {
        margin-bottom: 4rem;
    }
    .separator::before, .separator::after {
        background-color: #000;
    }
    .separator #three-coffee-beans {
        fill: #000;
    }
}