.about-beans-section {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 7rem;
    position: relative;
    &::after {
        content: '';
        width: 24rem;
        height: 0.1rem;
        position: absolute;
        background-color: #000;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.girl-coffee-img {
    height: 36rem;
    box-shadow: 1rem 1rem 2rem #ccc;
}

.about-beans-wrapper {
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-beans-heading {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.separator::after, .separator::before {
    background-color: black;
}

.about-beans-paragraph {
    width: 34rem;
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.4rem;
}

.about-coffee-paragraph {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    span {
        font-weight: 700;
    }
    span.coffee-price {
        font-weight: 300;
        font-size: 2.5rem;
    }

}