.section-2 {
    width: 100%;
    height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .separator::after, .separator::before {
        background-color: black;
    }
    &__paragraph {
        width: 60rem;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 300;
        line-height: 1.5;
        margin-top: 4rem;
    }
}